

.sobre-nosotros {
    text-align: center;
    padding: 20px;
}

.cartas-container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.carta {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: grid;
    grid-template-rows: 80% auto;
    width: 280px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}



.carta .imgBox img{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 300px;
    margin-bottom: 10px;
}


.carta .imgBox::after {
    content: '';
    font-size: 30px;
    background: linear-gradient(to bottom, black 10%, grey);
    position: absolute;
    width: 100%;
    height: 110px;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.carta h3 {
    margin: 10px 0;
}

.carta p {
    font-size: 14px;
}

.content {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 50%;
    /* background-color: red; */
    gap: 10px;
}
.titulo {
    width: 100%;
    height: 100%;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(-20px);
}